@import url('https://fonts.googleapis.com/css2?family=Lato&family=Noto+Serif:wght@300&display=swap');

main {
  font-family: 'Lato',
    Helvetica,
    sans-serif;
}

/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

/********** Navigation Bar ***********/
nav ul {
  background: black;
  color: white;
  display: flex;
  padding: 5px;
  justify-content: space-around;
  font-family: 'Lato', Helvetica, sans-serif;
  list-style-type: none;
}

nav ul li {
  flex: auto;
  text-align: center;
  color: white;
  text-decoration: none;
  padding: 10px;

}

nav ul li:hover,
nav ul li:hover a {

  background-color: #B6B6BD;
  color: black;

}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}


/********** Header ***********/
header {
  font-family: 'Lato', Helvetica, sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.siteName {
  text-align: left;
}

.siteName a {
  font-size: 250%;
  color: black;
  font-weight: bold;
  text-decoration: none;

}

#tools {
  text-align: right;
}

#tools a {
  text-align: right;
  color: black;
  font-weight: bold;
  text-decoration: none;
}

#tools a:hover {
  color: blue;

}


/********** Footer ***********/
footer {
  font-family: 'Lato',
    Helvetica,
    sans-serif;
}

footer p {
  font-weight: bold;
}


/********** Index Page ***********/
#indexPage {
  font-family: 'Lato',
    Helvetica,
    sans-serif;
  margin: 20px;
}

#upgrades {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  background-color: rgb(161, 169, 185);
  font-weight: bold;
}

#car-card img {
  max-width: 100%;
  height: auto;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);

}

#highlight {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  position: relative
}


#car-card {

  grid-column: 1 / 4;
  grid-row: 1;

  position: absolute;

  background-color: rgb(161, 169, 185, 0.7);

  padding: 20px;

  font-weight: bold;
}

#highlight img {
  grid-column: 1 / 4;
  grid-row: 1;
  margin: 0 auto;
  max-width: 100%;
  height: auto;


}

#reviews-section ul li {
  margin-bottom: 20px;

}


/************************ Inventory Page *******************/

#inv-display {

  list-style-type: none;
  padding-left: 0;

}

#inv-display li {
  color: #263D92;
  background-color: #ffffff;
  text-align: center;
  margin: 10px;
  padding: 20px;
  box-shadow: 0 0 10px #333;

}

#inv-display li h2 {
  margin: 10px;
}

#inv-display li a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}


#inv-display li a:hover {
  color: blue;
}


#inv-display li a img {
  vertical-align: middle;
  width: 100%;
  height: auto;
}

/*************** Details Page ******************/

.label {
  font-weight: bold;
  margin-left: 15px;
  color: black;
}

.vehicle-info h3,
.vehicle-info p {
  color: black;
  margin-left: 15px;
}

.vehicle-image picture img {
  vertical-align: middle;
  width: 100%;
  height: auto;
}

/****Login Page**********************/

.login-container {
  display: flex;
  justify-content: center;

}

#loginForm {
  background-color: #fff;
  padding: 30px 40px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

#loginForm h2 {
  text-align: center;
  margin-bottom: 20px;
}

#loginForm label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

#loginForm input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#loginForm button {
  width: 100%;
  padding: 10px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

#loginForm button:hover {
  background-color: #B6B6BD;
}

.signup-text {
  text-align: center;
  margin-top: 15px;
}

.signup-text a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.signup-text a:hover {
  text-decoration: underline;
}

.field-requirements {
  font-size: 12px;
  color: #555;
  margin-bottom: 15px;
  font-style: italic;
}


/***Register Page********************/

.register-container {
  display: flex;
  justify-content: center;
}

.register-form {
  background-color: #fff;
  padding: 30px 40px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 320px;
}

.register-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.register-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.register-form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.password-wrapper {
  display: flex;
  align-items: center;
}

.password-wrapper input {
  flex: 1;
}

.password-wrapper button {
  margin-left: 8px;
  padding: 8px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.password-hint {
  font-size: 12px;
  color: #555;
  margin-bottom: 15px;
}

.register-form button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

.register-form button[type="submit"]:hover {
  background-color: #B6B6BD;
  color: black;
}


/***Add Classification Page********************/

.add-classification-container {
  display: flex;
  justify-content: center;
}

.add-classification-form {
  background-color: #fff;
  padding: 30px 40px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 320px;
}

.add-classification-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.add-classification-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.add-classification-form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}



.add-classification-form button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

.add-classification-form button[type="submit"]:hover {
  background-color: #B6B6BD;
  color: black;
}

/***Add Inventory Page********************/

.add-inventory-container {
  display: flex;
  justify-content: center;
}

.add-inventory-form {
  background-color: #fff;
  padding: 30px 40px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 320px;
}

.add-inventory-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.add-inventory-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.add-inventory-form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.add-inventory-form textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.add-inventory-form select {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}



.add-inventory-form button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

.add-inventory-form button[type="submit"]:hover {
  background-color: #B6B6BD;
  color: black;
}


/***Edit Inventory Page********************/

.edit-inventory-container {
  display: flex;
  justify-content: center;
}

.edit-inventory-form {
  background-color: #fff;
  padding: 30px 40px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 320px;
}

.edit-inventory-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.edit-inventory-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.edit-inventory-form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.edit-inventory-form textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.edit-inventory-form select {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}



.edit-inventory-form button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

.edit-inventory-form button[type="submit"]:hover {
  background-color: #B6B6BD;
  color: black;
}

.edit-inventory-form button[type="submit"]:disabled {
  background-color: #B6B6BD;
  color: white;
}

/********** Large Screens ***********/

@media only screen and (min-width: 38rem) {

  #highlight {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    position: relative;

    grid-column: 1 / 4;
    grid-row: 1;
  }

  #car-card {
    grid-column: 1 / 2;

    position: absolute;

    background-color: rgb(161, 169, 185, 0.7);

    padding: 20px;
    font-weight: bold;

    max-width: 100%;
    height: auto;
  }

  #highlight img {
    grid-column: 1 / 4;
    margin: 0 auto;
    max-width: 100%;
    height: auto;

  }

  #wrapper {
    max-width: 1000px;

    margin: 0 auto;

    background-color: white;

    padding: 20px;

    border: black 2px solid;

    border-radius: 8px;

  }

  body {
    background-image: url('/images/site/small_check.png');

    background-size: cover;

    background-position: center;
    background-repeat: no-repeat;
  }

  #home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

  }

  #reviews-section {
    grid-column: 2 / 3;
    grid-row: 2 / 3;


  }

  #upgrades-section {

    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  #inv-display {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;

  }

  #vehicle-details {

    display: grid;
    grid-template-columns: 1fr 1fr;
  }

}