@import url('https://fonts.googleapis.com/css2?family=Lato&family=Noto+Serif:wght@300&display=swap');

/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

/********** Navigation Bar ***********/
nav ul {
  background: black;
  color: white;
  display: flex;
  padding: 5px;
  justify-content: space-around;
  font-family: 'Lato', Helvetica, sans-serif;
  list-style-type: none;
}

nav ul li {
  flex: auto;
  text-align: center;
  color: white;
  text-decoration: none;
  padding: 10px;

}

nav ul li:hover {

  background-color: #B6B6BD;
  color: black;

}


/********** Header ***********/
header {
  font-family: 'Lato', Helvetica, sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.siteName {
  text-align: left;
}

.siteName a {
  font-size: 250%;
  color: black;
  font-weight: bold;
  text-decoration: none;

}

#tools {
  text-align: right;
}

#tools a {
  text-align: right;
  color: black;
  font-weight: bold;
  text-decoration: none;
}

#tools a:hover {
  color: blue;

}


/********** Footer ***********/
footer p {
  font-family: 'Lato', Helvetica, sans-serif;
  font-weight: bold;
}


/********** Index Page ***********/
#indexPage {
  font-family: 'Lato',
    Helvetica,
    sans-serif;
  margin: 20px;
}

#upgrades {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  background-color: rgb(161, 169, 185);
  font-weight: bold;
}

#car-card img {
  max-width: 100%;
  height: auto;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);

}

#highlight {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  position: relative
}


#car-card {

  grid-column: 1 / 4;
  grid-row: 1;

  position: absolute;

  background-color: rgb(161, 169, 185, 0.7);

  padding: 20px;

  font-weight: bold;
}

#highlight img {
  grid-column: 1 / 4;
  grid-row: 1;
  margin: 0 auto;
  max-width: 100%;
  height: auto;


}

#reviews-section ul li {
  margin-bottom: 20px;

}

/********** Large Screens ***********/

@media only screen and (min-width: 38rem) {

  #highlight {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    position: relative;

    grid-column: 1 / 4;
    grid-row: 1;
  }

  #car-card {
    grid-column: 1 / 2;

    position: absolute;

    background-color: rgb(161, 169, 185, 0.7);

    padding: 20px;
    font-weight: bold;

    max-width: 100%;
    height: auto;
  }

  #highlight img {
    grid-column: 1 / 4;
    margin: 0 auto;
    max-width: 100%;
    height: auto;

  }

  #wrapper {
    max-width: 1000px;

    margin: 0 auto;

    background-color: white;

    padding: 20px;

    border: black 2px solid;

    border-radius: 8px;

  }

  body {
    background-image: url('/images/site/small_check.png');

    background-size: cover;

    background-position: center;
    background-repeat: no-repeat;
  }

  #home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

  }

  #reviews-section {
    grid-column: 2 / 3;
    grid-row: 2 / 3;


  }

  #upgrades-section {

    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
}