<h1>
    <%= title %>
</h1>
<%- messages() %>
    <% if (errors) { %>
        <ul class="notice">
            <% errors.array().forEach(error=> { %>
                <li>
                    <%= error.msg %>
                </li>
                <% }) %>
        </ul>
        <% } %>
<div><a href="/inv/add-classification">Add New Classification</a></div>
<div><a href="/inv/add inventory">Add New Vehicle</a></div>
 